 <!DOCTYPE html>
 <html lang="en" th:replace="~{base::parent(~{::#content},~{::content},~{::script})}"> 
 <head> 
    <title> Service page</title>
 </head>
 <body>
     <section id="content">
        <h1>Welcome to Service page</h1>
          <h2>Services offered</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eum porro dignissimos sed, maiores fuga ullam accusantiumsrecusandae itaque ea.</p>
     </section>
     <script>
     console.log(" About script");
     </script>
 </body>
 </html> 